<div ng-controller="DetailsEmployee">
<div class="card" style="width: 30rem; margin-left:35%;">
  <div class="card-header">
    <h3 style="margin-left:20%">Details of Employee</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><div><label><b>ID:</b></label> {{details.id}}</div></li>
    <li class="list-group-item"><div><label><b>Name:</b></label> {{details.name}}</div></li>
    <li class="list-group-item"><label><b>Father's Name:</b></label> {{details.fatherName}}</li>
    <li class="list-group-item"><label><b>Mobile Number:</b></label> {{details.mobile}}</li>
    <li class="list-group-item"><label><b>Salary:</b></label> {{details.salary}}</li>
    <li class="list-group-item"><label><b>Date of Birth:</b></label> {{details.dob}}</li>
    <li class="list-group-item"><label><b>Email:</b></label> {{details.email}}</li>
    <li class="list-group-item"><label><b>City:</b></label> {{details.city}}</li>
  </ul>
</div>
</div>